<!DOCTYPE html>
<html>
<title>Motion Camera</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font_awesome.css') }}">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body onload="pullData();">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="index.html" class="w3-bar-item w3-button w3-padding-large">HOME</a>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Motion Camera</h2>
    <p class="w3-justify">Motion detection camera system.</p>

 
<form method="post" enctype="text/plain" action="/settings.json">
  <input class="w3-left" type="checkbox" id="use_light" name="use_light" value="use_light">
  <label class="w3-left" for="use_light"> Use light</label><br><br>
  <input class="w3-left" type="checkbox" id="upload_video" name="upload_video" value="upload_video">
  <label class="w3-left" for="upload_video"> Upload video</label><br><br>
  <label class="w3-left" for="record_time">Recording Time:</label><br>
  <input class="w3-left" type="text" id="record_time" name="record_time"><br><br>
  <label class="w3-left" for="fps">FPS:</label><br>
  <input class="w3-left" type="text" id="fps" name="fps"><br><br>
  <label class="w3-left">Resolution</label><br>
  <select class="w3-left" name="resolution" id="resolution"><br><br><br><br>
  
     <!--<option value="640_480">640x480</option>
     <option value="1280_720">1280x720</option>
     <option value="1920_1080">1920x1080</option>-->
   </select><br><br>
  <input type="submit" value="Submit">
</form>

</div>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>

<script>
function pullData() {
   //alert("test")
   var resolution_texts = ["640x480", "1280x720", "1920x1080"]
   $.getJSON("data.json", function(result){
        $('#fps').val(result.fps.toString())
        $('#record_time').val(result.record_time.toString())
		$('#upload_video').val(result.upload_video)
		if (result.use_light)
		{
		    $('#use_light').prop("checked", true)
	    }
		if (result.upload_video)
		{
		    $('#upload_video').prop("checked", true)
		}
        var current_res_text = result.width.toString() + "x" + result.height.toString();
        var options = $("#resolution");
        options.append($("<option />").val(current_res_text.replace("x","_")).text(current_res_text));
        for (var i = 0; i < resolution_texts.length; i++)
        {
            if (resolution_texts[i] != current_res_text)
            {
               options.append($("<option />").val(resolution_texts[i].replace("x","_")).text(resolution_texts[i]));
            }
        }
    });
}


</script>

</body>
</html>
